@import "./src/responsive.scss";

.homeProducts{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F4F3EF;
    @include lg{
        height: 100%;
    }
    @include md{
        height: 100%;
    }
    .homeProductsP{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-direction: column;
        padding-top: 50px;

        .Product{
            display: flex;
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 50px;

            gap: 100px;
            @include lg{
                grid-template-columns: 1fr 1fr;
            }
            @include md{
                grid-template-columns: 1fr 1fr;
                gap: 50px;
            }
            @include sm{
                grid-template-columns: 1fr;
            }
                img{
                    height: 300px;
                    width: 100%;
                    object-fit: cover;
                    border: 1px solid black;
                    border-radius: 20px;
                }
                h2{
                    font-family: "Alata", sans-serif;
                }
                h4{
                    font-family: "Alata", sans-serif;
                }
                p{
                    font-family: "Alata", sans-serif;
                }
        }  
    }
    .pageSelector{
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 40px;

        button{
            display: flex;
            justify-content: center;
            width: 50px;
            height: 30px;
            background-color: #4C695F;
            border: none;
            color: white;
            font-size: 17px;
            font-family: "Alata", sans-serif;
            &:hover{
                transition: all 0.2s ease;
                font-size: 105%;
                 &:active{
                    text-decoration: underline;
                }
            }
        }
    }
}
