@import "./src/responsive.scss";

.homeProducts {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: #F4F3EF;
    font-family: "Alata", sans-serif;

    @include lg {
        height: 100%;
    }

    @include md {
        height: 100%;
    }

    .homeProductsP {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 50px; 
        padding-top: 50px;

        @include lg {
            grid-template-columns: 1fr 1fr;
        }

        @include md {
            grid-template-columns: 1fr;
        }

        .Product {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                height: 300px; 
                width: 375px;
                object-fit: cover;
                border: 1px solid black;
                border-radius: 20px;
            }

            h2, h4, p {
                margin: 0; 
                width: 375px;
            }
        }
    }

    .pageSelector {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 40px;

        button{
            display: flex;
            justify-content: center;
            width: 50px;
            height: 30px;
            background-color: #4C695F;
            border: none;
            color: white;
            font-size: 17px;
            font-family: "Alata", sans-serif;
            &:hover{
                transition: all 0.2s ease;
                font-size: 105%;
                 &:active{
                    text-decoration: underline;
                }
            }
        }
    }
}