@import "./src/responsive.scss";

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: #ADB79C;
    #logoLink{
        font-size: 20px;
        font-family: "Alata", sans-serif;
        font-weight: 500;
        color: white;
        @include sm{
            display: flex;
            font-size: 16px;
        }
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        font-family: "Alata", sans-serif;
        color: white;
            &:hover{
                transition: all 0.2s ease;
                font-size: 105%;
            &:active{
                border-bottom:1px solid white;
            }
            }
        @include md{
            font-size: 14px;
        }
        @include sm{
            display: none;
        }
    }
    .navLeft{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 30%;

        img{
            margin-left: 40px;
            padding-right: 5px;
            width: 60px;
            height: 60px;
        }
      
    }
    .navRight{
        display: flex;
        justify-content: space-evenly;
        padding-right: 50px;
        gap: 70px;

        .navPages{
            display: flex;
            align-items: center;
            padding-left: 100px;
            gap: 50px;
                
            img{
                height: 13px;
                width: 13px;
                padding: 2px 4px 0px 0px ;
            }
            form{
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 40px;
                width: 40px;
                padding-right: 50px;
                border: none;
                background-color: transparent;
                font-size: 18px;
                font-family: "Alata", sans-serif;
                color: white;
                @include md{
                    font-size: 14px;
                    width: 20px;
                }  
                :focus{
                    outline: none;
                }  
                ::placeholder {
                    font-size: 18px;
                    font-family: "Alata", sans-serif;
                    color: white;
                    @include md{
                        font-size: 14px;
                    }   
                }
                @include sm{
                    display: none;
                }
            }   
            input{
                height: 20px;
                width: 100px;
                border: none;
                border-radius: 0px 50px 50px 0px;
                background-color: transparent;
                font-size: 20px;
                color: white;    
                @include md{
                    font-size: 14px;
                    width: 50px;
                } 
            }
            button{
                border-radius: 50px 0px 0px 50px;
                background-color: transparent;
                border: none;
                img{
                    background-color: transparent;
                    padding-top: 3px;
                    height: 18px;
                    width: 18px;
                    @include md{
                        height: 14px;
                        width: 14px;
                    } 
                }
                :active{
                    height: 20px;
                    width: 20px;
                }
            }
        }
        .navAuthorization{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            width: 150px;
            height: 30px;
            gap: 20px;
            background-color: #BEC9AC;
            border: 2px solid #D6D0C5;         
            border-radius: 50px 50px 50px 50px;
            border-left: none;
            color: white;
            font-size: 17px;
            font-family: "Alata", sans-serif;
            @include md{
                margin-top: 35px;
                height: 20px;
            }
            @include sm{
                display: none;
            }
                &:hover{
                      transition: all 0.2s ease;
                      font-size: 105%;
                &:active{
                }
                }
        }
        
        .navbarIcon{
            display: none;
            z-index: 999;
            
            @include sm{
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                img {
                    height: 30px;
                    width: 30px;
                }
            }
            
        }
        .navbarMenu{
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            right: -50%;    
            background-color: black;
            height: 100vh;
            width: 50%;
            &.active{
                display: initial;
                transition: all 1s ease;
                right: 0;
                display: flex;
                flex-direction: column;    
                justify-content: center;
                align-items: center;
            height: 100%;

            }
            @include sm{
                a{
                    display: initial;
                    padding-top: 20px;
                    font-size: 20px;
                    font-family: "Alata", sans-serif;
                    &:hover{
                        font-size: 22px;
                    &:active{
                        border-bottom:1px solid white;
                    }
                }
            }
            
        }
    }
}
} 