@import "./src/responsive.scss";

.properties {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F4F3EF;

    @include lg {
        height: 100%;
    }

    @include md {
        height: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 50px;
        margin-top: 50px;
        margin-bottom: 100px;

        @include lg {
            grid-template-columns: 1fr 1fr;
        }

        @include md {
            grid-template-columns: 1fr;
        }
    }

    .Property {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
            //            border: 1px solid black;
        }

        h2,
        h4,
        p {
            font-family: "Alata", sans-serif;
        }


    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20rem;
    margin-top: 2rem;
    z-index: -2;
}

.card {
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
}

.card-img {
    width: 13rem;
    margin-bottom: 1rem;
}

.card-title {
    margin-bottom: 1rem;
}

.card-reviews {
    margin-bottom: 1rem;
    display: flex;
}

.rating-star {
    color: #d5ab55;
}

.total-reviews {
    font-size: 0.9rem;
    margin-left: 10px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bag-icon {
    color: #535353;
}